{% extends "base.html" %}

{% load wagtailcore_tags static %}

{% block extra_css %}<link rel="stylesheet" type="text/css" href="{% static 'home/css/landing.css' %}">{% endblock %}

{% block heading %}{% endblock %}

{% block content %}
    <header class="header-intro">
        <div class="background-image">
            <img class="slow-grow" src="{% static 'home/img/bee_on_flower_comp.JPG' %}" alt="Honey bees on flower.">
        </div>
        <div class="header-text">
            <h1>
                A holding tank for my thoughts on photography, programming, and the world in general.
            </h1>
            <a class="button" href="{% slugurl 'blog' %}">Enter</a>
        </div>
    </header>
{% endblock %}
