{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">

    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %} | Avery's WebCastle{% endblock %}</title>

    <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">

    {# External stylesheets #}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'photo_blog/css/global.css' %}">

    {% block extra_css %}{% endblock %} {# Override this block in individual templates in order to add stylesheets on a template by template basis #}

    {# Javascript that needs to be called from head e.g. google analytics snippet and bootstrap shivs #}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40852969-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2002495315212309",
            enable_page_level_ads: true
        });
    </script>
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

</head>

<body class="{% block body_class %}{% endblock %}"> {# Override this block to set custom body classes on a template by template basis #}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% slugurl 'blog' %}">Avery's WebCastle</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'user_profile' user %}">Profile</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <a class="navbar-text navbar-right" href="{% url 'registration_register' %}">Register</a>
                <form method="POST"
                      action="{% url 'login' %}?next={% if request.path == '/logout/' %}/{% else %}{{request.path}}{% endif %}"
                      class="navbar-form navbar-right">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Username" id="id_username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" id="id_password"
                               class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            {% endif %}
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="main container">
    {% block heading %}
        <div class="page-header">
            <h1>{% block heading_text %}{{ self.title }}{% endblock %}</h1>
            {% block meta_heading %}{% endblock meta_heading %}
        </div>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block ad %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- averyuslaner.com -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2002495315212309"
             data-ad-slot="7159456872"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {% endblock ad %}
</div>

{# External javascript #}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
</script>
<script id="dsq-count-scr" src="//averyuslaner-com.disqus.com/count.js" async></script>

{% block extra_js %}{% endblock %} {# Override this block in individual templates in order to add javascript on a template by template basis #}

{% wagtailuserbar %}
</body>
</html>