{% load static %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ave's Website</title>

    {% include 'includes/tracking.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'photo_blog/css/landing.css' %}">
</head>
<body>
<main>
    <nav>
        <ul class="nav-list">
            <li class="blog card"><a href="{% slugurl 'blog' %}">Blog for nerds</a></li>
            <li class="photography card"><a href="{% slugurl 'gallery' %}">Photography</a></li>
        </ul>
    </nav>
</main>
</body>
</html>