{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "blog/css/blog.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/default.css" %}">
{% endblock extra_css %}

{% block meta_heading %}
    <div class="lead blog-description">{{ page.intro|richtext }}</div>
{% endblock meta_heading %}

{% block content %}
    {% for post in blogpages %}
        {% with post=post.specific %}
            <div class="blog-post">
                <h2 class="blog-post-title"><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                <p class="blog-post-meta">{{ post.date }} by {{ post.owner }}</p>

                {% with post.main_image as main_image %}
                    {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
                {% endwith %}

                <p>{{ post.intro }}</p>
            </div>
        {% endwith %}
    {% endfor %}
{% endblock content %}