{% extends "base.html" %}
{% load humanize wagtailcore_tags wagtailroutablepage_tags %}

{% block title %}{% firstof user_obj.profile.name user_obj.username %}{% endblock %}

{% block heading_text %}User Profile{% endblock %}

{% block content %}
    <div>
        <div class="container row inline">
            <h3>
                {% firstof user_obj.profile.name user_obj.username %}
                <span class="small">({{ user_obj.get_full_name }})</span>
            </h3>
        </div>

        {% if posts %}
            <p>
                This user is an author on the blog! <b>{{ user_obj.get_full_name }}</b> has contributed
                {{ posts|length }} post{{ posts|pluralize }}. The three most recent posts are listed below:
            </p>
            <ul>
                {% for post in posts|slice:"3" %}
                    <li><a href="{% pageurl post %}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            {% if posts|length > 3 %}
                <p>
                    If that wasn't enough to wet your whistle, you can see all of {{ user_obj }}'s posts
                    <a href="{% routablepageurl blog_index 'blogpages_by_author' user_obj.username %}">here</a>.
                </p>
            {% endif %}
        {% else %}
            <p>
                <b>{{ user_obj.get_full_name }}</b> hasn't done much here yet. We would know if they had.
            </p>
        {% endif %}

        {% if user == user_obj %}
            <p>
                You can edit your profile <a href="{% url 'edit_profile' %}">here</a>. If you want. No pressure.
            </p>
        {% endif %}
    </div>
{% endblock content %}