{% extends "base.html" %}
{% load static wagtailcore_tags blog_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "blog/css/blog.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/default.css" %}">
{% endblock extra_css %}

{% block heading_text %}
    <a class="link-unstyled" href="{% pageurl page %}">{{ page.title }}</a>
{% endblock %}
{% block meta_heading %}
    <div class="lead blog-description">{{ page.intro|richtext }}</div>
{% endblock meta_heading %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 blog-main">
            {% post_list %}
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>{{ page.about|richtext }}</p>
            </div>
            <div class="sidebar-module">
                <h4>Archives</h4>
                {% archives_list %}
            </div>
            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li>
                        <img src="{% static 'img/social-1_logo-github.svg' %}" height="15px" style="padding-right: 5px">
                        <a href="https://github.com/TechnoConserve">GitHub</a>
                    </li>
                    <li>
                        <img src="{% static 'img/social-1_logo-twitter.svg' %}" height="15px" style="padding-right: 5px">
                        <a href="https://twitter.com/technoconserve">Twitter</a></li>
                    <li>
                        <img src="{% static 'img/social-1_logo-facebook.svg' %}" height="15px" style="padding-right: 5px">
                        <a href="https://www.facebook.com/averyuslaner/">Facebook</a>
                    </li>
                </ol>
            </div>
            <div class="sidebar-module">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- averyuslaner.com -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-2002495315212309"
                     data-ad-slot="7159456872"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div><!-- /.blog-sidebar -->
    </div>
{% endblock content %}