{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Sign Up{% endblock %}

{% block heading_text %}Sign Up{% endblock %}

{% block content %}
    <div class="text-center">
        <h3>Create An Account</h3>
    </div>

    <div class="rich-text">
        <p>
            Fill out the form below (giving your last name is optional), and your
            account will be created; you'll be sent an email with instructions on how
            to finish your registration.
        </p>
        <p>
            A valid email address is required to complete the registration process. If you'd prefer not to use one you
            care about, you can check out your options
            <a href="https://www.google.com/search?q=temporary+email+address&oq=temporary+email+address">here</a>.
        </p>
        <p>
            Your username can only consist of alphanumeric characters and
            underscores and may be up to 30 characters long.
        </p>

        <form method="POST" action="." class="form-horizontal">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}

                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock %}